{% extends 'Art/base.html'%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
 <!-- Your custom styles (optional) -->
<link href="{% static 'css/style.min.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Quicksand:wght@300;500;600;700&family=Slabo+27px&family=Yellowtail&display=swap" rel="stylesheet">
{% endblock %}


{% block body_block %}
<main>
  <div class="container" style = "margin-top: 100px;">
    <div class="table-responsive text-nowrap" >

      <h2>Order Summary</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item Title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>

          </tr>
        </thead>
        <tbody>
          {% for order_item in object.items.all %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{order_item.item.title}}</td>
              <td>${{order_item.item.price}}</td>
              <td>
                 <a href="{% url 'remove_single_item_from_cart' order_item.item.pk %}"><i class="fas fa-minus mr-2"></i></a>
                 {{order_item.quantity}}
                 <a  href="{% url 'add_single_to_cart' order_item.item.pk %}"><i class="fas fa-plus ml-2"></i></a>
               </td>
              <td>
                <span class = "badge badge-primary">${{order_item.get_total_item_price}}</span>
                <a href="{% url 'remove_from_cart' order_item.item.pk %}">
                  <i class = "fas fa-trash float-right" ></i>
                </a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5">Your Cart is Empty</td>
            </tr>
            <tr>
              <td colspan="5">
                <a class="btn btn-primary float-right ml-2 " href="{% url 'item_list' %}">Continue Shopping</a>
              </td>
            </tr>

          {% endfor %}
          {% if object.get_total %}
          <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td colspan="1"><span class = "badge badge-success">${{object.get_total}}</span></td>
          </tr>
          <tr>
            <td colspan="5">
              <a class="btn btn-primary float-right ml-2 " href="{% url 'item_list' %}">Continue Shopping</a>
              <a class="btn btn-warning float-right " href="/checkout">Proceed to Checkout</a>
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>

    </div>


  </div>
</main>


{% endblock  %}
